<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Needs to be Devoured!<br><br>
    <input type="radio" name="devoured" value="0">Devoured!
  </div>

  <button type="submit">Add Burger</button>
</form>

<h1>Burgers!</h1>

<h2>Burgers waiting to be devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <p> {{id}}. {{burger_name}}
    <span><button class="change-devoured" data-id="{{id}}" data-newdevoured="true">
        {{#if devoured}}devoured!{{else}}devour me!{{/if}}
      </button></span>
  </p>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <p>{{id}}. {{burger_name}}</p>
  {{/if}}
  {{/each}}
</ul>